.DS_Store
!application/*/.htaccess

/application/vendor/
/application/composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Other Files
#-------------------------

application/.cache/*

application/.logs/*

application/.sessions/*

!index.html
